:root {
    --cntr: center;
  }
  
  .Card-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: var(--cntr);
    align-items: var(--cntr);
    justify-content: var(--cntr);
  }
  
  .spinner {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    position: absolute;
    border-radius: inherit;
  }
  
  .spinner::before {
    width: 150%;
    height: 150%;
    background-image: linear-gradient(0deg, #6e3b4d 0%, #333399 80%);
    animation: spin 8s infinite linear;
    z-index: 1;
  }
  
  .spinner::after {
    width: 125%;
    height: 125%;
    background-color: #151515;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .Card-container > .skill > .skill-container {
    margin: 0;
    padding: 0;
    height: 70vh;
    width: 170vh;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    gap: 100px; 
    padding-left: 140px;
  }
  
  /* Gaya untuk Kolom */
  .column1, .column2 {
    display: flex;
    flex-direction: column; /* Kolom */
    gap: 120px; /* Jarak antar spinner di setiap kolom */
    justify-content: space-between;
   
  }
  
  .column1 {
    align-items: flex-start;
    width: 40vw;
    margin-left: -20px;
  }

  .column2 {
    align-items: flex-start;
    width: 40vw;

  }

  .icon {
    color: #333399;
    z-index: 2;
    
  }

  .html-icon, 
  .css-icon, 
  .js-icon, 
  .py-icon, 
  .react-icon, .tailwind-icon{
    font-size: 4rem;
    position: relative;
    top: 30px;
    left: 29px;
  }

